In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [4]:
data = pd.read_csv('All_new.csv')
data

,Date,Label,Top1,Top2,Top3,Top4,Top5,BIDU_Open,BIDU_High,BIDU_Low,...,Label6,Label7,Label8,Label9,Label10,Label11,Label12,Label13,Label14,Label15
0,2008-08-08,0,"""Georgia 'downs two Russian warplanes' as coun...",'BREAKING: Musharraf to be impeached.','Russia Today: Columns of troops roll into Sou...,'Russian tanks are moving towards the capital ...,"""Afghan children raped with 'impunity,' U.N. o...",32.431000,32.678001,31.704000,...,11.000000,28.129999,22.250000,46.650002,24.221428,55.860001,24.250000,25.740000,24.230000,128.809998
1,2008-08-11,1,'Why wont America and Nato help us? If they wo...,'Bush puts foot down on Georgian conflict',"""Jewish Georgian minister: Thanks to Israeli t...",'Georgian army flees in disarray as Russians a...,"""Olympic opening ceremony fireworks 'faked'""",31.499001,31.677999,30.177999,...,11.230000,27.900000,22.809999,47.520000,24.794285,54.419998,24.620001,26.139999,24.379999,126.599998
2,2008-08-12,0,'Remember that adorable 9-year-old who sang at...,"""Russia 'ends Georgia operation'""","'""If we had no sexual harassment we would have...","""Al-Qa'eda is losing support in Iraq because o...",'Ceasefire in Georgia: Putin Outmaneuvers the ...,30.576000,31.785000,30.319000,...,11.070000,28.120001,22.690001,48.570000,25.247143,54.209999,24.500000,26.400000,24.520000,125.220001
3,2008-08-13,0,' U.S. refuses Israel weapons to attack Iran: ...,"""When the president ordered to attack Tskhinva...",' Israel clears troops who killed Reuters came...,'Britain\'s policy of being tough on drugs is ...,'Body of 14 year old found in trunk; Latest (r...,30.889000,31.771999,30.357000,...,12.260000,27.910000,24.049999,48.459999,25.614286,55.389999,24.309999,26.150000,24.120001,125.800003
4,2008-08-14,1,'All the experts admit that we should legalise...,'War in South Osetia - 89 pictures made by a R...,'Swedish wrestler Ara Abrahamian throws away m...,'Russia exaggerated the death toll in South Os...,'Missile That Killed 9 Inside Pakistan May Hav...,31.164000,32.743000,31.125000,...,13.000000,27.910000,25.080000,48.599998,25.617144,56.349998,24.670000,25.770000,24.360001,126.940002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1984,2016-06-27,0,Barclays and RBS shares suspended from trading...,Pope says Church should ask forgiveness from g...,Poland 'shocked' by xenophobic abuse of Poles ...,"There will be no second referendum, cabinet ag...","Scotland welcome to join EU, Merkel ally says",158.240005,158.550003,155.279999,...,45.240002,48.430000,166.660004,71.500000,92.040001,51.139999,27.309999,59.070000,30.719999,143.500000
1985,2016-06-28,1,"2,500 Scientists To Australia: If You Want To ...","The personal details of 112,000 French police ...",S&amp;P cuts United Kingdom sovereign credit r...,Huge helium deposit found in Africa,CEO of the South African state broadcaster qui...,160.100006,162.979996,159.559998,...,45.900002,49.439999,173.000000,72.599998,93.589996,52.509998,27.790001,60.270000,31.190001,145.699997
1986,2016-06-29,1,Explosion At Airport In Istanbul,Yemeni former president: Terrorism is the offs...,UK must accept freedom of movement to access E...,Devastated: scientists too late to captive bre...,British Labor Party leader Jeremy Corbyn loses...,163.100006,166.500000,162.139999,...,46.650002,50.540001,181.479996,73.739998,94.400002,53.549999,28.260000,61.250000,31.930000,148.460007
1987,2016-06-30,1,Jamaica proposes marijuana dispensers for tour...,Stephen Hawking says pollution and 'stupidity'...,Boris Johnson says he will not run for Tory pa...,Six gay men in Ivory Coast were abused and for...,Switzerland denies citizenship to Muslim immig...,165.070007,165.259995,162.100006,...,47.009998,51.169998,193.220001,75.760002,95.599998,53.570000,28.690001,62.650002,32.799999,151.779999
1988,2016-07-01,1,A 117-year-old woman in Mexico City finally re...,IMF chief backs Athens as permanent Olympic host,"The president of France says if Brexit won, so...",British Man Who Must Give Police 24 Hours' Not...,100+ Nobel laureates urge Greenpeace to stop o...,165.240005,166.619995,162.899994,...,46.660000,51.160000,184.570007,75.870003,95.889999,53.000000,28.799999,62.110001,32.750000,152.350006

In [5]:
data_Baidu = data.loc[:, "BIDU_Open" : "BIDU_Adj Close"]

X = data_Baidu[:-1]
y = data_Baidu[1:].reset_index(drop=True).values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
def gaussian_kernel(X, X_i, tau):
    return np.exp(-np.sum((X - X_i) ** 2) / (2 * tau ** 2))

def LWR(X, y, x_query, tau):
    m = len(X)
    W = np.diag([gaussian_kernel(x_query, X[i], tau) for i in range(m)])

    X_b = np.c_[np.ones(m), X]
    lambda_reg = 0.01 # Regularization parameter
    theta = np.linalg.solve(X_b.T @ W @ X_b + lambda_reg * np.eye(X_b.shape[1]), X_b.T @ W @ y)

    x_query_b = np.array([1] + list(x_query))
    return x_query_b @ theta

In [7]:
predictions = []
for i in range(len(X_test)):
    X_query = X_test.iloc[i].values
    pred = LWR(X_train.values, y_train, X_query, tau=15)
    predictions.append(pred)

predictions = np.array(predictions)
mse = mean_squared_error(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)
r2 = r2_score(y_test, predictions)

print(f"Mean Squared Error: {mse}")
print(f"Mean Absolute Error: {mae}")
print(f"R-squared: {r2}")

Mean Squared Error: 8.761402534086834
Mean Absolute Error: 1.7705672451557029
R-squared: 0.9977536398586038